body {
    background-image: url('../images/bg_galaxy4.jpg');
}
nav{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
    color: #FFF;
}

.navbar{
    background-color: #8C418D;
    border: none;
}

#container-all-shirts {
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #modal-registro {
   width: auto;
   background-color:#8C418D;
   padding-bottom:3em;
   text-align: center;
}

#btn-registro, #btn-inicio {
   border-radius:5px;
   background-color: rgb(97, 5, 77);
   border: none;
   padding: 0.3em;
}

.close {
   color: #FFF;
   padding: 1em;
}

.item-ingreso-nav {
   color: #FFF;
}

#ingreso-usuario {
   background-color: rgb(136, 12, 138);
   padding: 0.5em;
}
