body {
    background-image: url('../images/bg_galaxy4.jpg');
}
nav{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
    color: #FFF;
}

.navbar{
    background-color: #8C418D;
    border: none;
}

#container-all-shirts {
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#container-shirt-1 {
   padding: auto;
}

.name, h5 {
color:#8C418D;
font-family: 'Fjalla One', sans-serif;
letter-spacing: 0.1%;
}


h6 {
    background-color:#8C418D;
    color: azure;
    text-align: center;
    padding: 1%;
    margin-bottom: 0;
}
.imagen{
    width: 100%;
    padding: 3%;
}
.contenedor{
    background-color: #fff;
    width: 30%;
    display: inline-block;
    padding: 1em;
    text-align: center;
    margin-left: 2em;
}
.muestrate{
    display: inline-block;
    text-align: center;
}